.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll {
  display: inline-block;
  min-width: 300px;
  word-wrap: break-word;
}
.desc {
  min-height: 200px;
}
.result-footer {
  max-height: 75px;
}
.card-img-top {
  object-fit: cover;
}
