* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #2a324b;
  color: #e1e5ee;
}
.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll {
  display: inline-block;
  min-width: 300px;
  word-wrap: break-word;
}
.desc {
  min-height: 200px;
}
.result-footer {
  max-height: 75px;
}
.card-img-top {
  object-fit: cover;
}
#banner {
  margin-top: 0;
  background-image: url(../images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 80vh;
}
#title {
  color: #2a324b;
}
#footer {
  background-color: #222842;
}
